# This file is part of the Redis k8s Charm for Juju.
# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.

charmhelpers~=0.20.20
git+https://github.com/juju-solutions/resource-oci-image#egg=oci-image
ops~=1.1.0
PyYAML~=5.4.1
redis~=3.5.3
